<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:fontFamily="@font/godofont"
        android:icon="@drawable/icon_yellow"
        android:label="집밥명인"
        android:roundIcon="@drawable/icon_yellow"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SubFrag1Activity"></activity>
        <activity android:name=".SubActivity2" />
        <activity android:name=".SubActivity1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>